/* .EMPMS-webpage {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(23, 22, 22);
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, tranform 0.3s;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

/* Employee Home*/
.EMPMS-webpage a button{
    width:auto;
    padding:5px 10px;
    border:1px solid black;
    border-radius:12px;
    font-weight: bold;
    background-color:rgb(5, 249, 37);
}

.EMPMS-webpage a button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
 .emp-home button{
    width:auto;
    padding:5px 8px;
    border:1px solid black;
    border-radius:8px;
    font-weight: bold;
}
.emp-home table tbody tr td:last-child{
    display:flex;
    justify-content: center;
    flex-direction: row;
    padding:5px;
    gap:10px;
}

.emp-home button:first-child{
    background-color: ghostwhite;
    color: rgb(5, 173, 240);
    border-radius: 12px;
}
.emp-home button:first-child:hover{
    background-color:  rgb(5, 173, 240);
    color: ghostwhite;
    transform: scale(1.02);
    cursor: pointer;
}

.emp-home button:nth-child(2){
    background-color:ghostwhite;
    color:  rgb(242, 57, 57);
    border-radius: 12px;
}
.emp-home button:nth-child(2):hover{
    background-color:  rgb(242, 57, 57);
    color:  ghostwhite;
    transform: scale(1.02);
    cursor: pointer;
}


/* AddEmployee */

.emp-add {
    width: 80%;
    margin: 2% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.emp-add form {
    width: 400px; 
    height:auto;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    display:inline-block;
    gap: 15px; /* Space between rows */
}
/* Row wrapper for Label + Input */
.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap:wrap;
}
.emp-add form label {
    width: 30%; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    font-style: oblique;
    flex: 1; /* Label takes up available space */
    align-items:start;
    float: left;
    margin-bottom:10px;
    padding: 0px 10px;
}
.emp-add form input {
    padding: 8px;
    border: 1px solid blue;
    border-radius: 10px;
    outline: none; /* Remove default browser outline */
    transition: 0.3s;
    align-items:start;
    margin-bottom:10px;
    flex-grow:1;
}

#age{ width: 60%;}

/* 2px Thick Blue Border on Focus */
.emp-add form input:focus {
    border: 2px solid blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
}

.emp-add form .form-button-group{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
}
.emp-add form button{
    width:auto; 
    padding:8px 12px;
    border:1px solid black;
    border-radius:15px;
    font-weight: bold;
}
.emp-add form button:first-child{
    background-color: ghostwhite;
    color: rgb(23, 218, 46);
}
.emp-add form button:first-child:hover{
    background-color:rgb(23, 218, 46);
    color: ghostwhite;  
    cursor: pointer;
}
.emp-add form button:nth-child(2){
    background-color: ghostwhite;
    color: rgb(242, 57, 57);
}
.emp-add form button:nth-child(2):hover{
    background-color: rgb(242, 57, 57);
    color: ghostwhite;
    cursor: pointer;
}

/* UpdateEmployee */

.emp-update {
    width: 30%;
    margin: 2% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.emp-form form {
    width: 400px; 
    height:auto;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    display:inline-block;
    gap: 15px; /* Space between rows */
}
/* Row wrapper for Label + Input */
.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap:wrap;
}
.emp-update form label {
    width: 30%; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    font-style: oblique;
    flex: 1; /* Label takes up available space */
    align-items:start;
    float: left;
    margin-bottom:10px;
    padding: 0px 10px;
}
.emp-update form input {
    padding: 8px;
    border: 1px solid blue;
    border-radius: 10px;
    outline: none; /* Remove default browser outline */
    transition: 0.3s;
    align-items:start;
    margin-bottom:10px;
    flex-grow:1;
}

#age{ width: 60%;}

/* 2px Thick Blue Border on Focus */
.emp-update form input:focus {
    border: 2px solid blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
}
.emp-update form .form-button-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}

.emp-update form button{
    width:auto; 
    padding:8px 12px;
    border:1px solid black;
    border-radius:15px;
    font-weight: bold;
}
.emp-update form button:first-child{
    background-color: ghostwhite;
    color:  rgb(5, 173, 240);
}
.emp-update form button:first-child:hover{
    background-color: rgb(5, 173, 240);
    color: ghostwhite;  
    cursor: pointer;
}
.emp-update form button:nth-child(2){
    background-color: ghostwhite;
    color: rgb(242, 57, 57);
}
.emp-update form button:nth-child(2):hover{
    background-color: rgb(242, 57, 57);
    color: ghostwhite;
    cursor: pointer;
}
